*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}

/* container */

.container__mini{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* container */

/* header style start */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}

.header__wrapper{
    display: flex;
    padding-top: 56px;
    align-items: center;
}

.header__nav{
    width: fit-content;
    margin-left: auto;
    align-self: center;
}

.header__list{
    gap: 82px;
    display: flex;
    list-style: none;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:active, .header__link:focus, .header__link:hover{
    opacity: .75;
}

.sticky{
    z-index: 9999;
    background-color: #608dc8;
}

.sticky .header__wrapper{
    padding: 20px;
}

.active__burger::before{
    transform: rotate(45deg);
    top: auto!important;
    bottom: 9px;
}

.active__burger::after{
    transform: rotate(-45deg);
    top: 8px!important;
    bottom: -9px;
}

.active__burger span{
    transform: scale(0);
}


/* header style end */

/* Benefits style start */

.benefits{
    min-height: 100vh;
    background: url(../img/Benefits.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.index__title{
    max-width: 619px;
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 22px;
}

.index__desc{
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 59px;
}

fieldset{
    border: none;
}

.search__info{
    display: flex;
    flex-wrap: wrap;
}

.search__in{
    width: 297px;
    background: transparent url(../img/Oval.svg) no-repeat left center;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search__in::placeholder{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.search__in:focus-visible{
    outline: none;
}

.btn-search{
    text-transform: uppercase;
    cursor: pointer;
    background: #1B7DFF;
    color: white;
    border: none;
    width: 171px;
    height: 58px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.btn-search:hover, .btn-search:focus, .btn-search:active{
    background: #186fe0;
    transition: 0.3s;
}

.benefits-window{
    margin-bottom: 131px;
}

.benefits__shadow{
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title{
    background-color: white;
    width: -webkit-fill-available;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
}

.cards__benefit{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.card__benefit{
    grid-column: span 1;
    margin-bottom: 112px;
}

.card__pic{
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits-icon{
    display: block;
}

.bn__title{
    color: #000000;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.bn__desc{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 29px;
}

.bn__link{
    display: inline-block;
    padding-right: 59px;
    background: url(../img/Shape.svg) no-repeat right center;
    color: #006DFE;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.bn__link:hover, .bn__link:focus{
    transition: 0.2s all;
    background: url(../img/Shape.svg) no-repeat 95% center;
}

/* Benefits style end */

/* Trip style start */

.trip__title{
    position: relative;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding-bottom: 7px;
    margin-right: 20px;
}

.trip__title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

.title__wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.view{
    color: #006DFE;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    background: url(../img/Shape.svg) no-repeat right center;
    padding-right: 59px;
}

.view:focus, .view:hover{
    color: #005ed8;
    transition: 0.2s;
}

.image__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.image__card{
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.image__card:hover .pic__fg{
    transform: scale(1.05);
}

.image__card::before{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.sz__big{
    height: 354px;
    grid-column: span 3;
}

.img__title{
    position: absolute;
    bottom: 27px;
    left: 29px;
    color: white;
    font-size: 50px;
    line-height: 60px;
    z-index: 3;
}

.pic__fg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.15s all;
}

.sz__small{
    height: 283px;
    grid-column: span 2;
}

/* Trip style end */

/* Tours style start */

.tours{
    margin-top: 131px;
    margin-bottom: 139px;
}

.tour__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info{
    padding-left: 47px;
}

.tour__title{
    max-width: 375px;
    margin-bottom: 85px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.tour__desc{
    margin-bottom: 58px;
    font-size: 16px;
    line-height: 24px;
}

.more__info__tour{
    color: #006DFE;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    background: url(../img/Shape.svg) no-repeat right center;
}

.more__info__tour:hover, .more__info__tour:focus{
    transition: 0.2s all;
    background: url(../img/Shape.svg) no-repeat 95% center;
}

/* Tours style end */

/* places style start */

.places{
    margin-bottom: 86px;
}

.cards__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.place__title{
    margin-bottom: 54px;
}

.card__places{
    display: flex;
    flex-direction: column;
}

.place__pic__cnt{
    position: relative;
    margin-bottom: 45px;
}

.card__title{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 0 0;
}

.place__img__info{
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(21, 24, 36, 0.6);
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    padding: 16px 25px;
}

.heard{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../img/heard.svg) no-repeat right;
    margin-right: 14px;
}

.comment{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(../img/comment.svg) no-repeat right;
}

.card__place__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.place__more{
    text-decoration: none;
    background: #006DFE;
    color: white;
    padding: 12px 19px;
    width: 118px;
    margin: auto 0 0 0;
}

.place__more:hover, .place__more:focus, .place__more:active{
    transition: .3;
    background: #186fe0;
}

/* places style end */

/* footer style start */

footer{
    background-color: #0E1D28;
    padding: 119px 0;
}

.footer__item{
    display: flex;
    flex-wrap: wrap;
}

.footer__logo{
    width: 50%;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu{
    list-style: none;
}

.footer__menu__title{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu__link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.footer__menu__link:hover, .footer__menu__link:focus, .footer__menu__link:active{
    transition: .2s;
    color: rgb(185, 185, 185);
}

/* footer style end */

/* Scroll to top style start */

.btn__scroll__top{
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.8rem 1rem;
    background-color: #608dc8;
    width: fit-content;
    border-radius: 50%;
    -moz-box-shadow: 0 0 10px #608dc8;
    -webkit-box-shadow: 0 0 10px #608dc8;
    box-shadow: 0 0 10px #608dc8;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
}

.btn__scroll__top__active{
    visibility: inherit;
    opacity: 1;
}

.btn__scroll__top i{
    color: white;
    font-size: 1.5rem;
}

/* Scroll to top style end */


/* Media style start */

@media screen and (max-width: 710px) {
    .header__burger{
        cursor: pointer;
        display: block;
        position: relative;
        margin-left: auto;
        width: 30px;
        height: 20px;
    }

    .header__burger:hover{
        transition: .2s;
        opacity: .8;
    }
    
    .header__burger::after,
    .header__burger::before{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    
    .header__burger::before{
        top: 0;
    }
    
    .header__burger::after{
        bottom: 0;
    }
    
    .burger_line{
        position: absolute;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__nav{
        display: none;
    }

    .nav__active{
        position: absolute;
        top: 73px;
        left: 0;
        display: inherit;
        width: 100%;
        justify-content: center;
        background-color: #608dc8;
        padding-bottom: 20px;
    }

    .header__list{
        display: grid;
        place-items: center;
        gap: 20px;
    }

    header{
        background-color: #608dc8;
    }

    .header__wrapper{
        padding: 20px!important;
    }
}

/* Media style end */